<!-- Partial ce itereaza autorii din site si construieste
un card proprietatile lor: nume, descriere, thumbnail -->

{{ $authors := $.Site.Data.authors }}
{{ $paginator := .Paginate .Data.Pages }}

{{ range $paginator.Pages }}

  <!-- numele fisierului yml -->
  {{ $authorKey := .Name  | lower }}
  {{ $author := index $authors $authorKey }}

  {{ $authorName := $author.name }}
  {{ $authorDescription := (or $author.description "") }}

  {{ $authorThumbnail := $author.thumbnail }}
  {{ $authorThumbnailFile := printf "/img/author-avatars/%s" (or $authorThumbnail $.Site.Params.authorAvatar) }}

  {{ $authorArtCount := (index $.Data.Terms $authorKey).Count }}
  {{ $articolDeclinare := cond (gt $authorArtCount 1) "articole" "articol" }}

  <article class="post-card author">

    <a class="author-card-image-link" href="/authors/{{$authorKey}}">
      <div class="author-card-image" style="background-image: url({{ $authorThumbnailFile }})"></div>
    </a>

    <div class="post-card-content">
      <a class="post-card-content-link" href="/authors/{{$authorKey}}">

        <header class="post-card-header">
          <h2 class="author-card-name">{{ $authorName }}</h2>
          <div class="post-card-categories">{{ $authorArtCount }} {{ $articolDeclinare }} </div>
        </header>

        <section class="post-card-excerpt">
          <p>{{ $authorDescription | safeHTML | truncate 250 }}</p>
        </section>
      </a>
    </div>

  </article>

{{ end }}