<article class="blog-post">
  <a class="blog-card-content-link" href="{{ .Permalink }}">
    <header class="post-card-header">
      <h2 class="post-card-title">{{.Title}}</h2>
    </header>
    <section class="blog-card-excerpt">
      <p class="js-text-clamp">
        {{ if .Description }}
          {{ .Description | markdownify }}</p>
        {{else}}
          {{ .Summary | plainify | safeHTML }}{{ if .Truncated }} ... {{end}}
        {{end}}
      </p>
    </section>
    <div class="post-card-date"><span>{{ .Date.Format "2/01/06" | safeHTML }}</span></div>
  </a>
</article>