<!-- Sunt mai multe taxonomii, dar ne intereseaza doar categoriile si tags -->
<div class="taxonomy-list">
  <!-- Afisare categorii + tags -->
  {{/*  {{ range $taxonomyName := slice "categories" "tags" }}
  <h2>{{ $taxonomyName | title }} </h2>
  <section>
    {{ $taxonomy := index $.Site.Taxonomies $taxonomyName }}&#x2F;&nbsp;
    {{ range $key, $value := $taxonomy }}
    <a href="{{ "/" | relLangURL}}{{ $taxonomyName }}/{{ $key | urlize }}">{{ $key }}</a> ({{$value.Count}})&nbsp;&#x2F;&nbsp;
    {{ end }}
  </section>
  {{ end }}  */}}

  <!-- Afisare doar categorii -->
  <section>
    {{ $taxonomyName := "categories"}}
    {{ $taxonomy := index $.Site.Taxonomies $taxonomyName }}
    {{ range $key, $value := $taxonomy }}

      {{ $categorieSiteData := index $.Site.Data.categorii (lower $key) }}
      {{ $titluCategorie := $categorieSiteData.nume | default $key }}

      <h3><a href="{{ "/" | relLangURL}}{{ $taxonomyName }}/{{ $key | urlize }}">{{ $titluCategorie | title }}</a> ({{$value.Count}})&nbsp;</h3>
        <!-- Afisare lista articole din fiecare categorie -->
        {{/*  <ul>
          {{ range $value.Pages}}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>  */}}
    {{ end }}
  </section>
</div>