<header class="site-header outer">
  <div class="inner">

    {{ partial "site-nav" . }}

    <div class="site-header-content">

      <!-- In pagina unui autor avem un layout usor diferit: afisam numele autorului din fisierul yml, plus thumbnail -->
      {{ if eq .Section "authors" }}
        {{ $author := index .Site.Data.authors .Data.Term }}
        {{ $authorThumbnailFile := printf "/img/author-avatars/%s" (or $author.thumbnail .Site.Params.authorAvatar) }}
        <h1 class="site-title">
          <img class="author-profile-image" src="{{ $authorThumbnailFile | absURL}}" alt="{{ $author.name }}" />
          {{$author.name}}
        </h1>{{$.Scratch.Set "total" (len .Data.Pages)}}

      <!-- Restul paginilor de tags raman la fel: numele tag-ului/categoriei, plus numarul articolelor aferente  -->
      {{ else }}
        <h1 class="site-title">{{.Title}}</h1>{{$.Scratch.Set "total" (len .Data.Pages)}}
        <h2 class="site-description">
          {{if ge ($.Scratch.Get "total") 2 }}A collection of {{$.Scratch.Get "total"}} posts
          {{else}}{{$.Scratch.Get "total"}} post{{end}}
        </h2>
      {{ end }}
    </div>
  </div>
</header>
