<header class="site-header outer "
        {{/*Site Cover e folosit de facebook pentru share website, dar nu vrem sa fie afisat pe site*/}}
        {{/*if .Site.Params.cover}} style="background-image: url({{.Site.Params.cover | absURL}})" {{end*/}} >
  <div class="inner">
    <div class="site-header-content">
      <h1 class="site-title"> <a href="{{"/"|absURL}}">{{ if .Site.Params.logo }}
       <img class="site-logo" src="{{ .Site.Params.logo  | absURL}}" alt="{{ .Site.Params.title }}" />
      {{else}} {{ .Site.Params.title }} {{end}} </a></h1>
        <h2 class="site-description">{{ .Site.Params.subtitle }} </h2>
    </div>

    {{ partial "site-nav" . }}
  </div>
</header>
