<script type="text/javascript" src="{{ "js/libs/highlight/highlight.pack.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/jquery-3.7.1.min.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/jquery.fitvids.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/clamp.min.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/custom.js" | absURL}}"></script>
<script type="text/javascript" src="{{ "js/fotorama.js" | absURL}}"></script>

<script>hljs.initHighlightingOnLoad();</script>

<script>
  Array.from(document.getElementsByClassName("fotorama-fallback")).forEach(el => el.style.display = "none");
  Array.from(document.getElementsByClassName("fotorama")).forEach(el => el.style.display = "block");
</script>

{{ with .Site.Params.googleAnalytics }}
  {{ "<!-- Google Analytics -->" | safeHTML }}
  <script>
    var _gaq=[['_setAccount','{{ . }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{{ end }}
