<meta property="og:site_name" content="{{ .Site.Title }}" />
    <!-- e ditamai linia, dar pe scurt afiseaza titlul si, daca exista, prima categorie
    definita in articol - daca are definitie in Site Data, ii citim numele definit acolo,
    altfel ramane numele categoriei definit in articol -->
    <meta property="og:title" content="{{ if ne .URL "/" }}{{ .Title }} {{ end }}{{with .Params.categories }} &middot; {{ range first 1 . }}{{ $cat := index $.Site.Data.categorii (lower . )  }}{{ $primaCategorie := $cat.nume | default . }}{{ upper $primaCategorie }} {{end}}{{end}}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    {{if .Site.Params.fbName}}<meta property="article:publisher" content="https://www.facebook.com/{{.Site.Params.fbName}}" />{{end}}

{{ if .IsPage }}
    <meta property="og:type" content="article" />

    <meta property="og:description" content="
      {{ if .Params.authors }}
      {{$author := index .Site.Data.authors (.Params.authors)}}
      {{$author.name}} &middot;
      {{end}}
      {{ .Description  | default (substr .Summary 0 160) }}" />

    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
    {{ range .Params.tags }}<meta property="article:tag" content="{{ . }}" />{{ end }}
{{ else }}
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ .Site.Params.description }}" />
{{ end }}

{{if .Params.image }}
    <meta property="og:image" content="{{ .Params.image | absURL}}"/>
{{else if .Resources.GetMatch "feature-image"}}
    {{ $image := .Resources.GetMatch "feature-image"}}
      <meta property="og:image" content="{{ $image.Permalink}}"/>
{{else if .Resources.GetMatch "cover-image"}}
    {{ $image := .Resources.GetMatch "cover-image"}}
      <meta property="og:image" content="{{ $image.Permalink}}"/>
{{else if .Resources.GetMatch "card-cover-image"}}
    {{ $image := .Resources.GetMatch "card-cover-image"}}
      <meta property="og:image" content="{{ $image.Permalink}}"/>
{{else}}
  {{if .Site.Params.cover}}
      <meta property="og:image" content="{{ .Site.Params.cover | absURL}}"/>
  {{end}}
{{end}}
