{{$isBlogPage := eq .Section "blog"}}
{{$blogPostCssClass := cond $isBlogPage "blog" "" }}

<article class="post-full {{ $blogPostCssClass }} post">

    {{$author := index .Site.Data.authors (or .Params.authors .Site.Params.author)}}
    {{$authorName := $author.name  }}
    {{$authorThumbnail := $author.thumbnail  }}
    {{$authorDescription := $author.description }}
    {{$authorWebsite := $author.website }}

    {{/* ----- Imagine principală articol ----- */}}
    <header class="post-full-header">
        {{with .Params.categories }}
            <div class="post-full-categories">
                {{ range $index, $categ := . }}
                {{if $index}}/{{end}}<span class = "{{ lower $categ }}"><a href="/categories/{{$categ | urlize}}/">{{$categ}}</a></span>{{end}}
            </div>
        {{end}}
        <h1 class="post-full-title">{{.Title}}</h1>
        {{ with .Params.subtitle }}
            <h2 class="post-full-subtitle"> {{ . }} </h2>
        {{ end }}
        <section class="post-full-meta {{ $blogPostCssClass }}">
            <time class="post-full-meta-date" datetime="{{.Date.Format "2006-01-02"}}">{{ .Date.Format "2 January 2006" | safeHTML }}</time>
            {{ if not $isBlogPage }}
                {{/* nu afisam autorul in paginile de blog */}}
                {{ if .Params.authors }}
                    <div class="post-full-meta-author"><a href="/authors/{{.Params.authors}}/">{{$authorName}}</a></div>
                {{ else }}
                    <div class="post-full-meta-author">{{$authorName}}</div>
                {{ end }}
            {{ end }}
        </section>
    </header>

    {{/* ----- Imagine principală articol ----- */}}
    {{if .Params.image}}
        <figure class="post-full-image" style="background-image: url({{.Params.image | absURL }})"></figure>

    {{else}}
        {{ with .Resources.GetMatch "cover-image" }}
        <figure class="post-full-image" style="background-image: url({{ .Permalink }})"></figure>
        {{ end }}
    {{end}}

    {{ $hasNoImage := and (not .Params.image) (not (.Resources.GetMatch "cover-image"))}}
    {{ $noImageCssClass := cond $hasNoImage "no-cover-image" "" }}

    {{/* ----- Corpul articolului ----- */}}
    <section class="post-full-content {{ $noImageCssClass }}">
        <div class="kg-card-markdown {{ $blogPostCssClass }}">
        {{ .Content }}

            {{ with .Params.casetaTehnica }}
                {{ partial "caseta-tehnica" . }}
            {{ end }}

        </div>

        {{/* ----- Galeria de la sfârşit (imaginile din /gallery ) ----- */}}
        {{ partial "gallery-all" . }}

        {{/* ----- Caseta informaţii suplimentare articol ----- */}}
        {{ if or .Params.sursa .Params.tags .Params.linkuriExterne .Params.linkForum (eq .Section "posts") }}
        <section class="post-full-article-metadata">
            <hr>
            <!--h2>Despre</h2-->
            <div class = "post-full-article-extra">


                {{/* afisam info licenta doar pentru articolele din categoria 'posts', pentru celelalte se presupune ca e cea default */}}
                {{ if eq .Section "posts" }}
                    {{ $licentaFile := printf "LICENSE-%s.md" (or .Params.licenta "default") }}
                    {{ $licentaArticol := .Site.GetPage "page" "licenses" $licentaFile }}

                    {{ with $licentaArticol }}
                        <p><span class="post-full-article-extra-categ">Licență articol</span>: <a href="{{ .Permalink }}">{{ .Title }}</a>&nbsp;&nbsp;</p>
                    {{end}}
                {{ end }}

                {{with .Params.tags}}
                    <p><span class="post-full-article-extra-categ">Tags</span>: {{ range . }}<a href="{{$.Site.BaseURL}}tags/{{ . | urlize }}/">#{{ . }}</a>&nbsp;&nbsp;{{ end }}</p>
                {{end}}

                {{with .Params.sursa}}
                    <p>
                        <span class="post-full-article-extra-categ">Sursa</span>:
                        {{ if .link }}
                            <a href="{{ .link }}">{{ or .text "link"}}</a>
                        {{ else }}
                            {{ with .text }}{{ . }}{{ end }}
                        {{ end }}
                        {{ with .data }}
                            (<span>{{ dateFormat "2-01-2006" . | safeHTML }}</span>)
                        {{ end }}
                    </p>
                {{end}}

                {{with .Params.download }}
                {{ if eq (len .) 1 }}
                    {{ range . }}
                        <p><span class="post-full-article-extra-categ">Download</span>: <a href = "{{ .link }}">{{ .text }}</a> - {{ .desc }}</p>
                    {{end}}
                {{ else }}
                    <p><span class="post-full-article-extra-categ">Download</span>:</p>
                    <ul>
                        {{ range . }}
                        <li><a href = "{{ .link }}">{{ .text }}</a>: {{ .desc }}</li>
                        {{ end }}
                    </ul>
                {{end}}
                {{end}}

                {{with .Params.linkuriExterne}}
                    <p><span class="post-full-article-extra-categ">Linkuri externe</span>:</p>
                        <ul>
                            {{ range . }}
                                <li><a href = "{{ .link }}">{{ .text }}</a>: {{ .desc }}</li>
                            {{ end }}
                        </ul>
                {{end}}
            </div>

            {{ with .Params.linkForum }}
                <p class = "post-forum-link">
                <span class ="post-forum-link-icon"><svg width="1.5em" height="1.5em"  viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1792 896q0 174-120 321.5t-326 233-450 85.5q-70 0-145-8-198 175-460 242-49 14-114 22-17 2-30.5-9t-17.5-29v-1q-3-4-.5-12t2-10 4.5-9.5l6-9 7-8.5 8-9q7-8 31-34.5t34.5-38 31-39.5 32.5-51 27-59 26-76q-157-89-247.5-220t-90.5-281q0-130 71-248.5t191-204.5 286-136.5 348-50.5q244 0 450 85.5t326 233 120 321.5z"/></svg></span>
                Pentru comentarii și discuții despre articol vă invităm să vizitați <a href = "{{ . }}">secțiunea dedicată de pe forum</a>.
                </p>
            {{end}}
        </section>
        {{ end }}
    </section>

    {{/* ----- Caseta autor ----- */}}
    {{ if not $isBlogPage }}
    {{/* nu afisam autorul in paginile de blog */}}
    <footer class="post-full-footer">
      <section class="author-card">
        {{ $authorThumbnailFile := printf "/img/author-avatars/%s" (or $authorThumbnail .Site.Params.authorAvatar) }}
        <img class="author-profile-image" src="{{ $authorThumbnailFile | absURL}}" alt="{{ $authorName }}" />
        <section class="author-card-content">
            <h4 class="author-card-name"><a href="/authors/{{.Params.authors}}">{{$authorName}}</a></h4>
                {{ with $authorDescription }} <p>{{ . | safeHTML }}</p> {{ end }}
        </section>
      </section>
    </footer>
    {{ end }}
</article>