{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
{{ $pageNumber := .Paginator.PageNumber}}
{{ range $cardIndex, $cardPage := $paginator.Pages }}

{{ $isFirstCard := and (eq $pageNumber 1) (eq $cardIndex 0) }}
{{ $firstCardCssClass := cond $isFirstCard "first-card" "" }}
{{ $cardThumbSize := cond $isFirstCard .Site.Params.firstCardThumbSize .Site.Params.cardThumbSize }}

<article class="post-card post {{ $firstCardCssClass }}">

    {{/* ----- Imagine card ----- */}}
    {{if .Params.image}}
      <a class="post-card-image-link" href="{{ .Permalink }}">
        <div class="post-card-image" style="background-image: url({{.Params.image | absURL}})"></div>
      </a>

    {{else if .Resources.GetMatch "card-cover-image"}}
      {{ $coverImage := .Resources.GetMatch "card-cover-image" }}
      {{ $resizedCover := $coverImage.Resize $cardThumbSize }}
      <a class="post-card-image-link" href="{{ .Permalink }}">
        <div class="post-card-image" style="background-image: url({{ $resizedCover.Permalink }})"></div>
      </a>

    {{else if .Resources.GetMatch "cover-image"}}
      {{ $coverImage := .Resources.GetMatch "cover-image" }}
      {{ $resizedCover := $coverImage.Resize $cardThumbSize }}
      <a class="post-card-image-link" href="{{ .Permalink }}">
        <div class="post-card-image" style="background-image: url({{ $resizedCover.Permalink }})"></div>
      </a>

    {{else}}
      <a class="post-card-image-link" href="{{ .Permalink }}">
        <div class="post-card-image" style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)"></div>
      </a>
    {{end}}

  {{/* ----- Conţinut card ----- */}}
    <div class="post-card-content">
      <a class="post-card-content-link" href="{{ .Permalink }}">
          <header class="post-card-header">
              {{if .Params.categories }}<div class="post-card-categories">{{ range $index, $categ := .Params.categories }}
              {{/*nice trick: https://stackoverflow.com/questions/21305865/golang-separating-items-with-comma-in-template*/}}
              {{if $index}}/{{end}}<span class = "{{ lower $categ }}">{{$categ}}</span>{{end}}</div>{{end}}
              <h2 class="post-card-title">{{.Title}}</h2>
              {{with .Params.subtitle}}<span class="post-card-subtitle">{{.}}</span>{{end}}
          </header>
          <section class="post-card-excerpt">
            <p class="js-text-clamp">
              {{ if .Description }}
                {{ .Description | markdownify }}
              {{ else}}
                    {{ .Summary | plainify | safeHTML }}{{ if .Truncated }} ... {{end}}
              {{ end}}
            </p>
          </section>
      </a>

        <footer class="post-card-meta">
            {{$author := index .Site.Data.authors (or .Params.authors .Site.Params.author)}}
            {{$authorName := $author.name  }}
            {{$authorThumbnail := $author.thumbnail }}
            {{$authorLink := .Params.authors }}

            {{ $authorThumbnailFile := printf "/img/author-avatars/%s" (or $authorThumbnail .Site.Params.authorAvatar) }}
            <img class="author-profile-image" src="{{ $authorThumbnailFile }}" alt="{{ $authorName }}" />
            <div>
              <span class="post-card-author"><a href="/authors/{{$authorLink}}">{{ $authorName }}</a></span>
              <span class="post-card-date">{{ .Date.Format "2/01/06" | safeHTML }}</span>
            </div>
        </footer>
    </div>
</article>

    {{/* ----- Card Blogul Comunităţii - doar pe prima pagină, după cardul principal ----- */}}
    {{ if $isFirstCard }}
      {{ with (where $.Data.Pages.ByDate.Reverse "Type" "blog") }}
        <article class="post-card blog-card">
          <a href="/blog"><div class="blog-card-label">{{ $.Site.Params.labelSectiuneBlog }}</div></a>
            {{ range first 2 . }}
              {{ partial "blog-post" . }}
            {{ end }}
        </article>
      {{ end }}
    {{ end }}
{{ end }}
