{{ $isNotBlogCard := ne .Type "blog" }}
{{ $blogCssClass := cond $isNotBlogCard "" "blog" }}

{{ $noImageCssClass := cond (or (eq .Type "blog") (eq .Params.hideImage true)) "no-image" "" }}

{{ $customCardColor := cond (isset .Params "cardcolor") .Params.cardColor "" }}

{{$notBlogAndDoesntHideImage := eq (and $isNotBlogCard (ne .Params.hideImage true)) true }}

{{$isFeatured := eq .Params.featured true}}
{{$featureImage := .Resources.GetMatch "card-cover-image"}}

{{ if (and $isFeatured $featureImage) }}
    <article class="post-card {{$blogCssClass}} {{ $noImageCssClass }} featured" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url({{$featureImage.Permalink}})">

{{ else }}
    <article class="post-card {{$blogCssClass}} {{ $noImageCssClass }} " style="background: {{ $customCardColor | safeCSS }}">

    {{ if $notBlogAndDoesntHideImage }}
      <!-- ----- Imagine card ----- -->
      <!-- o afisam doar pentru posturile normale ("post") nu pentru "blog" -->
      {{if .Params.image}}
        <a class="post-card-image-link" href="{{ .Permalink }}">
          <div class="post-card-image" style="background-image: url({{.Params.image | absURL}})"></div>
        </a>

      {{else if .Resources.GetMatch "card-cover-image"}}
        {{ $coverImage := .Resources.GetMatch "card-cover-image" }}
        {{ $resizedCover := $coverImage.Resize .Site.Params.cardThumbSize }}
        <a class="post-card-image-link" href="{{ .Permalink }}">
          <div class="post-card-image" style="background-image: url({{ $resizedCover.Permalink }})"></div>
        </a>

      {{else if .Resources.GetMatch "cover-image"}}
        {{ $coverImage := .Resources.GetMatch "cover-image" }}
        {{ $resizedCover := $coverImage.Resize .Site.Params.cardThumbSize }}
        <a class="post-card-image-link" href="{{ .Permalink }}">
          <div class="post-card-image" style="background-image: url({{ $resizedCover.Permalink }})"></div>
        </a>
      {{else}}
        <a class="post-card-image-link" href="{{ .Permalink }}">
          <div class="post-card-image" style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)"></div>
        </a>
      {{end}}
    {{end}}
{{end}}

  <div class="post-card-content">
    <a class="post-card-content-link" href="{{ .Permalink }}">
        <header class="post-card-header">
            {{with .Params.categories }}
                <!-- luam prima categorie din articol si, daca are definitie in Site Data,
                   ii citim culoarea si o punem la bordura de pe card -->
                {{ $primaCategorieDinArticol := lower (index . 0) }}
                {{ $cat := index $.Site.Data.categorii $primaCategorieDinArticol }}
                {{ $culoare := $cat.culoare_bordura | default "" }}

                <div class="post-card-categories" style="border-color: {{ $culoare | safeCSS }}">
                    {{ range $index, $articleCateg := . }}
                        <!-- afisam lista cu categoriile articolului - pentru fiecare, daca are definitie in Site Data,
                         ii citim numele definit acolo, altfel ramane numele categoriei definit in articol -->
                        {{if $index}}/{{end}}
                        {{ $categorieSiteData := index $.Site.Data.categorii (lower $articleCateg) }}
                        {{ $categorie := $categorieSiteData.nume | default $articleCateg }}
                        <span class = "{{ lower $categorie }}">{{$categorie}}</span>
                    {{end}}
                </div>
            {{end}}
            <h2 class="post-card-title">{{.Title}}</h2>
            {{/*if .Params.tags }}<span class="post-card-tags">{{ range $index, $tag := .Params.tags }}
            #{{$tag}} {{end}} </span>
            {{ end */}}
            {{with .Params.subtitle}}<span class="post-card-subtitle">{{.}}</span>{{end}}
        </header>
        {{ if (and (ne $isFeatured true) (ne .Params.hideDescription true)) }}
          <section class="post-card-excerpt">
            <p class="js-text-clamp">
              {{ if .Description }}
                {{ .Description | markdownify }}
              {{else}}
                {{ .Summary | plainify | safeHTML }}{{ if .Truncated }} ... {{end}}
              {{end}}
            </p>
          </section>
        {{end}}
    </a>

    <footer class="post-card-meta">
        {{$author := index .Site.Data.authors (or .Params.authors .Site.Params.author)}}
        {{$authorName := $author.name  }}
        {{$authorThumbnail := $author.thumbnail }}
        {{$authorLink := .Params.authors }}

        {{ $authorThumbnailFile := printf "/img/author-avatars/%s" (or $authorThumbnail .Site.Params.authorAvatar) }}
        <img class="author-profile-image" src="{{ $authorThumbnailFile }}" alt="{{ $authorName }}" />
        <div>
          <span class="post-card-author"><a href="/authors/{{$authorLink}}">{{ $authorName }}</a></span>
          <span class="post-card-date">{{ .Date.Format "2/01/06" | safeHTML }}</span>
        </div>
        <div class="post-card-reading-time">
            {{if .Resources.ByType "audio"}}
            <span><svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="32" height="32" viewBox="0 0 75 75">
                        <path d="M39.389,13.769 L22.235,28.606 L6,28.606 L6,47.699 L21.989,47.699 L39.389,62.75 L39.389,13.769z" style="stroke:#969696;stroke-width:5;stroke-linejoin:round;fill:#969696;"/>
                        <path d="M48,27.6a19.5,19.5 0 0 1 0,21.4M55.1,20.5a30,30 0 0 1 0,35.6M61.6,14a38.8,38.8 0 0 1 0,48.6" style="fill:none;stroke:#969696;stroke-width:5;stroke-linecap:round"/></span>
            {{end}}
            {{.ReadingTime}}</div>
    </footer>
  </div>
</article>
