/* -------------------------*/
/* ------ front page ------ */
/* -------------------------*/


/* --- setari generale main & article --- */

/* marime text */
html {
	font-size: 55%;
}

body {
	background-color: none;
	background-image: url('../img/blackpaper_w_yellowish.jpg');
}

#site-main {
  background-image: none;
  background-image: url('../img/blackpaper_w_yellowish.jpg');
}

/* textura fundal - tot ce e sub banner*/

.home-template .site-main {
	padding-bottom: 2vw;
}

/* --- header --- */

.site-header {
	background: none;
	background-image: url('../img/blackpaper_b_lighter.jpg');
}

.site-header-content {
    padding: 2vw 2vw;
    min-height: 200px;
    max-height: 200px;
}

.site-logo{
	max-height:100%;
}

.site-nav {
	font-size: 100%;
}


/* --- body --- */

/* container principal continut */
.inner {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%
}

@media (min-width: 900px) {
    .author-template .post-feed, .home-template .post-feed, .tag-template .post-feed {
        /* margin-top: 10px; */
				margin-top: 1em;
        padding-top: 0
    }

    .home-template .site-nav {
        position: relative;
        /* top: 10px */
				top: 1em;
    }
}


/* --- carduri --- */

/* main card */
.home-template .post-feed .post-card:nth-child(0n+1):not(.no-image) {
	flex:1 1 100%;
	max-width: 100%;
}

/* main card image */
.home-template .post-feed .post-card:nth-child(0n+1):not(.no-image) .post-card-image-link {
	flex: 1 1 auto;
}

/* main card content */
.home-template .post-feed .post-card:nth-child(0n+1):not(.no-image) .post-card-content {
	/*flex: 0 1 357px;*/
	flex: 0 1 38%;
}

/* main card footer */
.home-template .post-feed .post-card:nth-child(0n+1):not(.no-image) .post-card-meta {
	border-top: 1px solid rgba(128,128,128, 0.2);
	padding: 0.5em 2em 1em;
}


/* normal cards */
.post-card {
	-ms-flex:1 1 250px;
	flex:1 1 250px;
	margin:0 10px 20px;
	max-width: 400px;
	/*border: solid 1px lightgray;*/
	border: 1px solid rgba(128,128,128, 0.4);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	background-color: rgba(255,250,245, 0.7);
}

.post-card:hover {
	transform: translate3D(0, -5px, 0)
}

/* normal cards image */
.post-card-image-link {
}

/* normal cards continut container */
.post-card-content {

}

.post-card-content-link {
	/*padding: 25px 25px 0;*/
	padding: 1.2em 1.2em 0;
	color: rgba(0,0,0,.75);
}

/* text card */
.post-card-excerpt p {
	font-family: Lato, Open Sans, Helvetica Neue, sans-serif;
	margin-bottom: 1em;
}

/* normal cards footer */
.post-card-meta {
	border-top: 1px solid rgba(128,128,128, 0.2);
	padding: 0.5em 2em 1em;
}

/*.post-feed article {
  max-height: 400px;
}*/
