/* article override */
@media (max-width: 1040px) {
    .post-full-content img.gallery-thumb {
        width: auto;
        max-width: 45%;
    }
}

@media (max-width: 1170px) {

    .post-full-image {
        margin: 0 -2vw -4vw;
        min-height: 25vh;
        height: 50vh;
    }

    .post-full-content img {
        margin: 0 auto;
    }

    .post-full-content .figure-gallery {
        width: 100%;
    }

    .post-full-content .figure-gallery figure {
        flex: 1 1 49%;
    }
}

@media (max-width: 800px) {

    .post-full-title {
        font-size: 4rem
    }

    .post-full-subtitle {
        font-size: 2.5rem
    }

    .post-full-image {
        margin: 0 -2vw -5vw;
        min-height: 10vh;
        height: 40vh;
    }

    .post-full-content {
        font-size: 1.7rem;
        padding: 4vw;
    }

    .post-template .kg-card-markdown:not(.blog) > p:first-child {
        font-size: 1em;
        line-height: 1.4em;
        font-style: italic;
    }

    .post-full-content .figure-gallery figure {
        flex: 1 1 100%;
    }

    /* cardurile read next-previous din articol */
    .read-next-feed .post-card, .read-next-feed .blog-post {
        max-width: 100%;
    }
}

@media (max-width: 500px) {

    .post-full-title {
        font-size: 3rem
    }

    .post-full-subtitle {
        font-size: 1.8rem
    }

    .post-full-image {
        margin: 0 -2vw -5vw;
        min-height: 10vh;
        height: 30vh;
    }
}
