<!-- Setam un parametru suplimentar aici pentru a-l citi in partiale
in caz ca sunt necesare procesari diferite pentru home page -->
{{ .Scratch.Set "parentPage" "home" }}
{{ partial "head" . }}

<body class="home-template"><div class="site-wrapper">

<!-- aici e folosit flagul "home" pentru a ascunde logo-ul -->
{{ partial "header" . }}

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    <div class="post-feed">
      <!-- aici e folosit flagul "home" pentru filtrari suplimentare -->
      {{ partial "post-list" . }}
    </div>

    {{ partial "navigation" . }}

  </div>
</main>

{{ partial "footer" . }}
</div>{{ partial "js" . }}</body></html>
