{{ partial "head" . }}

{{if eq .Site.Params.singleViewStyle "casper"}}
  <body class="tag-template"><div class="site-wrapper">
  {{ partial "header-sori-tag" . }}
{{else}}
  <body class="home-template"><div class="site-wrapper">
  {{ partial "header" . }}
{{end}}

<main id="site-main" class="site-main outer" role="main">
  <!-- In pagina fiecarui autor afisam si o caseta cu descrierea autorului,
  inainte de cardurile cu articolele sale -->
  {{ if eq .Section "authors" }}
    {{ $author := index .Site.Data.authors .Data.Term }}
    <section class="post-full-content category-description">
      {{ $authorDescription := (replace $author.description "\n" "<br>") }}
      {{ $authorDescription | safeHTML }}
    </section>
  {{ else}}
    <!-- iar daca ne aflam intr-o categorie cu descriere, afisam
    o caseta cu descrierea categoriei -->
    {{ $categorie := .Name | lower }}
    {{ $definedCat := index $.Site.Data.categorii $categorie }}
    {{ with $definedCat.descriere }}
        <section class="post-full-content category-description">
          {{ .  | markdownify }}
        </section>
    {{ end }}
  {{ end }}
  <div class="inner">
    <div class="post-feed">
      {{ partial "post-list" . }}
    </div>

    {{/* partial "navigation" . */}}
    {{ template "_internal/pagination.html" . }}

  </div>
</main>

{{ partial "footer" . }}
</div>{{ partial "js" . }}</body></html>
