{{ partial "head" . }}

{{if eq .Site.Params.singleViewStyle "casper"}}
  <body class="tag-template"><div class="site-wrapper">
  {{ partial "header-sori-term" . }}
{{else}}
  <body class="home-template"><div class="site-wrapper">
  {{ partial "header" . }}
{{end}}

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    {{if ne .Site.Params.singleViewStyle "casper"}}
      <div class="post-feed">
        {{ partial "post-list" . }}
      </div>

      {{ partial "navigation" . }}

    {{else}}
      <div class="post-feed">

        <!-- Afisam un layout diferit pentru fiecare tip de taxonomie -->
        {{ if eq .Section "authors" }}
          <!-- Pentru pagina autorilor afisam un layout cu carduri pentru fiecare autor -->
          {{ partial "authors-list" . }}

        {{ else }}
          <!-- Iar pentru categorii si tags doar o lista si un count cu numarul de articole -->
          {{ partial "categs-tags-list.html" . }}

          <!-- Initial aici era afisata o lista cu 3 posturi random pentru termeni, dar nu o mai folosim -->
          {{/* partial "post-list-term" . */}}

        {{ end }}
      </div>
    {{end}}

    <!-- Pentru pagina autorilor, unde sunt carduri separate/autor, avem nevoie si de paginatie -->
    {{ if eq .Section "authors" }}
      {{ partial "navigation" . }}
    {{end}}
  </div>
</main>

{{ partial "footer" . }}
</div>{{ partial "js" . }}</body></html>
