<!-- Based on http://fotorama.io/ -->
{{ $numeDir := .Get 0 }}
{{ $dirPath := print .Page.URL $numeDir "/" }}
{{$files := readDir (print "/content/" $dirPath) }}

{{ $titluGalerie := .Get 1 }}

{{ with $titluGalerie }}
  <div class="fotorama-gallery-title">{{.}}</div>
{{ end }}

{{/* citim intai ce imagini au captions */}}
{{/* daca avem captions, e obligatoriu titlul galeriei, fie si gol */}}
{{ if gt (len .Params) 2 }}
  {{ range after 2 .Params }}
    {{ $items := split . "|" }}
    {{ $filename := index $items 0 }}
    {{ $caption := index $items 1 }}
    {{ $.Scratch.Set $filename $caption }}
  {{ end }}
{{ end }}

<!-- count how many times we've called this shortcode; load the css if it's the first time -->
{{- if not ($.Page.Scratch.Get "fotoramacount") }}<link rel="stylesheet" href="/css/fotorama.css" />{{ end }}
{{- $.Page.Scratch.Add "fotoramacount" 1 }}

{{/* Noscript fallback - imagini aranjate ca in shortcode-ul figure-multi.html */}}
<div class="fotorama-fallback figure-gallery">
  {{ range $files }}
  {{ $filename := .Name }}
  {{ $linkURL := print $dirPath "/" $filename | absURL }}
  <figure>
    <a href = "{{ $linkURL }}">
      <img src="{{ $linkURL }}" alt="">
    </a>
    {{ with $.Scratch.Get $filename }}
      <figcaption>
        <span> {{ . }} </span>
      </figcaption>
    {{ end }}
  </figure>
  {{ end }}
</div>

{{/* Vezi http://fotorama.io/customize/ pentru optiuni customizare */}}
<div class="fotorama"
     data-width="100%"
     data-allowfullscreen="native"
     data-keyboard="true"
     data-fit="scaledown"
     >
  {{ range $files }}
    {{ $filename := .Name }}
    {{ $linkURL := print $dirPath "/" $filename | absURL }}
    {{ $caption := $.Scratch.Get $filename }}
    <img src="{{$linkURL}}" data-caption="{{$caption}}">
  {{ end }}
</div>